
{% extends "base.html.twig" %}

{% block title %}TITLE 2{% endblock %}

{% block body %}
<main>
    <div class="p-5 mx-auto text-center">
        <h1 class="display-4">Inscription</h1>
    </div>
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-8 mx-auto">
                    <form novalidate id="register" method="POST" action="inscription.php">

                        {# Affichage d'une notification d'erreur #}
                        {% if errors is defined and errors|length > 0 %}
                            <div class="alert alert-danger">
                                {% for error in errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        
                        {# Prénom #}
                        <div class="mb-3">
                            <label for="firstname" class="form-label">Prénom</label>
                            <input type="text" class="form-control {% if errors is defined and errors.firstname is defined %}is-invalid{% endif %}"
                                   placeholder="Saisissez votre prénom" value="{{ firstname|default('') }}"
                                   id="firstname" name="firstname" required>
                            <div class="invalid-feedback">
                                {% if errors is defined and errors.firstname is defined %}
                                    {{ errors.firstname }}
                                {% endif %}
                            </div>
                        </div>

                        {# Nom #}
                        <div class="mb-3">
                            <label for="lastname" class="form-label">Nom</label>
                            <input type="text" class="form-control {% if errors is defined and errors.lastname is defined %}is-invalid{% endif %}"
                                   placeholder="Saisissez votre prénom" value="{{ lastname|default('') }}"
                                   id="lastname" name="lastname" required>
                            <div class="invalid-feedback">
                                {% if errors is defined and errors.lastname is defined %}
                                    {{ errors.lastname }}
                                {% endif %}
                            </div>
                        </div>

                        {# Nom d'utilisateur #}
                        <div class="mb-3">
                            <label for="username" class="form-label">Nom d'utilisateur</label>
                            <input type="text" class="form-control {% if errors is defined and errors.username is defined %}is-invalid{% endif %}"
                                   placeholder="Saisissez votre nom d'utilisateur" value="{{ username|default('') }}"
                                   id="username" name="username" required>
                            <div class="invalid-feedback">
                                {% if errors is defined and errors.username is defined %}
                                    {{ errors.username }}
                                {% endif %}
                            </div>
                        </div>

                        {# Adresse E-mail #}
                        <div class="mb-3">
                            <label for="email" class="form-label">Adresse email</label>
                            <input type="email" class="form-control {% if errors is defined and errors.email is defined %}is-invalid{% endif %}"
                                   placeholder="Saisissez votre adresse email" value="{{ email|default('') }}"
                                   id="email" name="email" required>
                            <div class="invalid-feedback">
                                {% if errors is defined and errors.email is defined %}
                                    {{ errors.email }}
                                {% endif %}
                            </div>
                        </div>

                        {# Mot de passe #}
                        <div class="mb-3">
                            <label for="password" class="form-label">Mot de passe</label>
                            <input type="password" class="form-control {% if errors is defined and errors.password is defined %}is-invalid{% endif %}"
                                   placeholder="Saisissez votre mot de passe" value=""
                                   id="password" name="password" required>
                            <div class="invalid-feedback">
                                {% if errors is defined and errors.password is defined %}
                                    {{ errors.password }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="d-grid gap-2">
                            <button class="btn btn-dark">M'inscrire</button>
                        </div>

                    </form>
                </div>  <!-- /.col-8 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.bg-light -->
</main>


{% endblock %} 
